<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Fluid 960 Grid System | 16-column Grid</title>
        <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/targetprint.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/text.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/grid.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/layout.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/nav.css" media="screen" />
		<!--[if IE 6]><link rel="stylesheet" type="text/css" href="css/ie6.css" media="screen" /><![endif]-->
		<!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/ie.css" media="screen" /><![endif]-->
	</head>
	<body>
		<div class="container_16">
        	<div class="box grid_16" id="franja">
			</div>

			<div class="grid_16" >
				<h1 id="branding"><a href="index.html"><img src="imagenes/logotargetprint.png" alt="" width="270" height="53" /></a></h1>
                <div id="tel"><p>Tel.: 4701-9006</p><p>Cel.: 15-5502-5813</p>
              </div>
		  </div>
			<div class="clear"></div>
			<div class="grid_16">
			  <ul class="nav main" id="menu">
					<li id="first">
						<a href="12/">Equipos Multifuncion</a>
						<ul>
							<li>
								<a href="12/fluid/mootools/">Multifuncion 1</a>
							</li>
							<li>
								<a href="12/fluid/jquery/">Multifuncion 2</a>
							</li>
							<li>
								<a href="12/fluid/none/">Multifuncion 3</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="16/">Impresoras</a>
						<ul>
							<li>
								<a href="16/fluid/mootools/">Impresoras 1</a>
							</li>
							<li>
								<a href="16/fluid/jquery/">Impresoras 2</a>
							</li>
							<li>
								<a href="16/fluid/none/">Impresoras 3</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="12/fixed/">Insumos</a>
						<ul>
							<li>
								<a href="12/fixed/mootools/">Insumos 1</a>
							</li>
							<li>
								<a href="12/fixed/jquery/">Insumos 2</a>
							</li>
							<li>
								<a href="12/fixed/none/">Insumos 3</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="16/fixed/">Insumos Alternativos</a>
						<ul>
							<li>
								<a href="16/fixed/mootools/">Alternativos 1</a>
							</li>
							<li>
								<a href="16/fixed/jquery/">Alternativos 2</a>
							</li>
							<li>
								<a href="16/fixed/none/">Alternativos 3</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="http://symphony-cms.com/discuss/thread/231/">Telefonía</a>
						<ul>
							<li>
								<a href="http://github.com/bauhouse/fluid960gs/tree/">Telefonia 1</a>
							</li>
							<li>
								<a href="http://github.com/bauhouse/sym-fluid960gs/tree/">Telefonia 2</a>
							</li>
							<li>
								<a href="http://symphony-cms.com/discuss/thread/231/">Telefonia 3</a>
							</li>
						</ul>
					</li>
                    <li>
						<a href="http://symphony-cms.com/discuss/thread/231/">Accesorios</a>
						<ul>
							<li>
								<a href="http://github.com/bauhouse/fluid960gs/tree/">Accesorios 1</a>
							</li>
							<li>
								<a href="http://github.com/bauhouse/sym-fluid960gs/tree/">Accesorios 2</a>
							</li>
							<li>
								<a href="http://symphony-cms.com/discuss/thread/231/">Accesorios 3</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="clear"></div>
          <div id="pagina">
		  <div class="grid_16">
				<h2 id="page-heading"></h2>
		  </div>
		  <div class="clear"></div>
<div class="grid_3">
			  <div class="box menu">
						<h2>marcas</h2>
					<div class="block" id="section-menu">
						<ul class="section menu">
							<li>
								<a class="menuitem">HP</a>
								<ul class="submenu">
									<li>
										<a>Submenu 1</a>
									</li>
									<li>
										<a>Submenu 2</a>
									</li>
									<li>
										<a>Submenu 3</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Epson</a>
								<ul class="submenu">
									<li>
										<a>Submenu 1</a>
									</li>
									<li>
										<a>Submenu 2</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Konica</a>
								<ul class="submenu">
									<li>
										<a>Submenu 1</a>
									</li>
									<li>
										<a>Submenu 2</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Brother</a>
								<ul class="submenu">
									<li>
										<a>Submenu 1</a>
									</li>
									<li>
										<a>Submenu 2</a>
									</li>
									<li>
										<a>Submenu 3</a>
									</li>
								</ul>
							</li>
							<li>
								<a class="menuitem">Canon</a>
								<ul class="submenu">
									<li>
										<a>Submenu 1</a>
									</li>
									<li>
										<a>Submenu 2</a>
									</li>
								</ul>
							</li>
                            <li>
								<a class="menuitem">Samsung</a>
								<ul class="submenu">
									<li>
										<a>Submenu 1</a>
									</li>
									<li>
										<a>Submenu 2</a>
									</li>
									<li>
										<a>Submenu 3</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
			  </div>
		  </div>
		 <div class="grid_11">
		    <div class="box articles" id="titulo">
					<h2>productos destacados</h2>
			  <div class="imggrande"></div>
			  <div class="descripcion">
              <div class="descripciontxt">
			    <p>Impresora Multifuncion</p>
			    <p>HP deskjet D130</p>
			    <div class="precio">$ 1500</div>
                </div>
                <div class="descripcionparrafo">sdfsf</div>
                </div>
			  <div class="clear"></div>
			<div class="box articles especificaciones" id="titulo">
					<h2>productos destacados</h2>
			</div>
        </div>
		  </div>
			<div class="clear"></div>
            <div class="slider"><img src="imagenes/sliderlogo.jpg" alt="" width="960" height="68" /></div>
            		</div> 
<div class="grid_16" id="site_info">
				<div class="box">
				  <p class="pie"><img src="imagenes/targetprint-logo-blanco.png" width="150" height="45" alt="Targetprint" /><br /></p>
				  <p>Targetprint - Av. Cabildo y Av. Crisólogo Larralde - Ciudad Autónoma de Buenos Aires - República Argentina<br />Línea telefónica: (011) 4701-9006 /// Contáctenos en: info@targetprint.com.ar<br />Copyright Targetprint 2012 /// Todas las marcas y logotipos pertenecen a sus respectivos propietarios.<br />(*) Los precios indicados incluyen IVA y pueden variar sin previo aviso. El precio en dólares está calculado en base a nuestra cotización diaria de la moneda estadounidense.<br />Las fotos de los productos son ilustrativas</p>
				</div>
			</div>			
            <div class="clear"></div>
		</div>
		<script type="text/javascript" src="js/mootools-1.2.1-core.js"></script>
		<script type="text/javascript" src="js/mootools-1.2-more.js"></script>
		<script type="text/javascript" src="js/mootools-fluid16-autoselect.js"></script>
	</body>
</html>